body {
    text-align: center;
    margin: 0px;    
    color: white;
}
#hero-section {
    background-image: url("images/arco-leon.webp");
    background-size: cover;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titles{
    background: rgb(50, 35, 35);
    border-radius: 10px;
    padding: 10px 10px;
    height: 30px;
    width: 250px;
    text-shadow: 0px 0px 4px black;
}
#middle-section{   
    margin-top: 0px; 
    background: rgb(170, 163, 163);
}
.img-activity {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0;
    border: none;
    
}